<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - Elephant's Memory
    2020-12-25
-->

{% extends "template.html" %}

{% block title %} Blog Creation Page {% endblock %}

{% block content %}
<section class="content">

    <br><br>

    <section class="container">

        <h1> Create a new Blog </h1>

        <form action="/action_create_blog" method="post">
            <label for="post_title"> Enter a Blog Title </label> <br>
            <input type="text" name="blog_name" size="60"> <br> <br>
            <input type="submit" value="Submit">
        </form>

        {% if error is defined %}
        <h4> You already have a blog with that name! Please enter a new one. </h4>
        {% endif %}

        <br><br>

    </section>
</section>
{% endblock %}
