<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->

<!DOCTYPE html>

<html lang="en">

    <head>
        <title> Post Creation Page </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
    </head>

    <section class="content">

        {% extends "template.html" %}
        {% block content %}

        {% for post in posts %}
        
        <br>
        {{ post }} <br>
        {{ post[3] }} by {{ post[0] }} on {{ post[2] }} <br> <br>
        
        {{ post[4] }} <br> <br>
        {{ post[1] }} <br> <br>
        <p> ---------------------------------</p>
        {% endfor %}

        {% endblock %}
    </section>

</html>
    