<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->
{% extends "template.html" %}


{% block content %}
<section class="content">

<div class="login">
    <form method="POST" action="/register" tye>
        <label> Login </label> <br>

        {% if usererror is defined %}
        <label> Incorrect username, please try again: </label> <br>
        {% endif %}
        {% if passerror is defined %}
        <label> Incorrect password, please try again: </label> <br>
        {% endif %}

        <input name="username" type="text" required="required" min=0 required placeholder="Username"> <br>
        <input name="password" type="password" required="required" min=0 required placeholder="Password"> <br>
        <input name="type" type="submit" value="Login"> <br>
        <br>
        <a href="/create_account"> Don't have an account? Create one here! </a>
    </form>
</div>

</section>
{% endblock %}
