<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->

<!DOCTYPE html>

<html lang="en">

    <head>
        <title> Launch Page </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
    </head>

    <section class="content">

        {% extends "template.html" %}
        {% block content %}

        <h1> Launch Page </h1>
        <br>
        <p> Content </p>
        
        <p> Create Account </p> <!-- Forms -->
        
        <a href="/create_post"> Dev Link for Post Creation </a> <br> <br>
        <a href="/feed"> Dev link for Feed </a> <br> <br>
        <a href="/user_page"> Dev link for user specific pages </a>

        {% endblock %}
    </section>

</html>
    