<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx

    THIS FILE HAS NO FUNCTIONAL USE!
    
    SHOULD SERVE AS COPY-PASTE OUTLINE FOR ANY 
    HTML FILES THAT NEED TO BE CREATED

    RUN "cp outline.html <new_filename.html>" in terminal
-->
{% extends "template.html" %}

{% block title %} <!-- Title of page goes here --> {% endblock %}

{% block content %}
<section class="content">

<!-- Everything else goes in here -->

</section>
{% endblock %}