<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->
{% extends "template.html" %}

{% block title %} <!-- Title goes here --> {% endblock %}

{% block content %}
<section class="content">

<h1> Oops! You don't have permission to be here. </h1>
<h3> <a href="/"> Please return to the home page. </a> </h3>

{% if session.get("user_id") is defined %}
<p> User ID: {{ session.get("user_id")}} </p>
{% endif %}

</section>
{% endblock %}