<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->

<!DOCTYPE html>

<html lang="en">

<head>
    <title> {% block title %} Our Blog {% endblock %} </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
</head>

<body>

    <section class="header">

        {% if session.get("user_id") %}
        <h4> Hello, {{ session.get("username") }}! </h4>
        <div class="logout">
            <form method="get" action="/logout">
                <input name="Submit" type="submit" value="Logout"> <br> 
            </form>
        </div>
        {% else %}

        <div class="welcome">
            <h2> Welcome to Elephant's Memory! </h2>
        </div>

        {% endif %}
    
    </section>
    
    <!-- <div class="login">
        <form method="get" action="/fake_auth">
            <label for="user_id"> Login w/ user_id (dev) </label> <br>
            <input name="user_id" type="number" required="required" min=0> <br>
            <input name="Submit" type="submit" value="Login"> <br> 
        </form>
    </div> -->
        
     

    <section class="content">

        {% block content %}{% endblock %}
        <!-- location where other file is "imported"-->

    </section>

    <br> <br>

    <section class="footer">
        {% if session.get("user_id") %}
        <ul>
            <li><a href="/"> HOME </a> </li>
            <li style="float:right"><a class="active" href="/create_post">NEW POST</a></li><br>
            <li style="float:right"><a class="active" href="/create_blog">NEW BLOG</a></li><br>
            <li style="float:right"><a class="active" href="/feed">FEED</a></li><br>
            <li style="float:right"><a class="active" href="/user_page">PROFILE</a></li>
        </ul>
        {% endif %}
    </section>


</body>

</html>
