<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->

<!DOCTYPE html>

<html lang="en">

    <head>
        <title> {% block title %} Our Blog {% endblock %} </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>

        <section class="header">
            <div class="logo">
                <a href="/"> Link to homepage </a> <br> <br> <!-- link back to home -->
            </div>

            {% if session.get("user_id") %}
                <h2> User id of logged in user: {{ session.get("user_id") }} </h2>
                <div class="logout">
                    <form method="get" action="/logout">
                        <input name="Submit" type="submit" value="Logout"> <br> <br>
                    </form>
                </div>
            {% else %}
                <div class="login">
                    <form method="get" action="/fake_auth">
                        <label for="user_id"> Login w/ user_id (dev) </label> <br> 
                        <input name="user_id" type="number" required="required"> <br>
                        <input name="Submit" type="submit" value="Login"> <br> <br>
                    </form>
                </div>
            {% endif %}
            <hr>   
        </section>


        <section class="content">
            
            {% block content %}{% endblock %} <!-- location where other file is "imported"-->

        </section>
            
        <section class="footer">
            <hr>
            {% if session.get("user_id") %}
                <a href="/create_post"> Dev Link for Post Creation </a> <br> <br>
                <a href="/feed"> Dev link for Feed </a> <br> <br>
                <a href="/user_page"> Dev link for user specific pages </a>
            {% else %}
                <p> Create an account to do this stuff (no one is logged in) </p> <!-- link to account creation -->
            {% endif %}   
        </section>

    </body>
    
</html>