<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->

<!DOCTYPE html>

<html lang="en">

    <head>
        <title> Test Page </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

    <section class="content">

        {% extends "template.html" %}
        {% block content %}

    
        <h1> Tester Page </h1>
        <br>
        <p> Testing content </p>

        {% endblock %}


    </section>

</html>
    