<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    P0 - To Be Named
    2020-12-xx
-->
{% extends "template.html" %}

{% block title %} User {{ session.get("user_id") }}'s page {% endblock %}

<!--
    TODO: Include blogs as main display data structure, have individual posts
    included within individual blogs
-->

{% block content %}
<section class="content">
    <h1> This is the personal page of user {{ session.get("username") }} </h1>
    <h3> Here are their blogs: </h3> <br>

    <div class="grid-container">
    {% for blog in blogs %}

        <div class="grid-item">

            <form action="/blog_page" method="get">

                <h2>{{ blog[2] }} </h2>
                <h4>By {{ blog[0] }} </h4>
                <h5>Created on {{ blog[3] }}  <br>
                </h5>

                <input type="hidden" name="blog_id" value='{{ blog[1] }}'>
                <input type="submit" name="Submit" value="View Posts">
                <br> <br>

            </form>
        </div>

    {% endfor %}
    </div>

</section>
{% endblock %}
